@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
$border-radius: 20px;
.naslov{
  text-align: center;
  font-size: 80px;
}
#container {
  
  display: grid;
  grid-template-columns: 50% 50% ;
  grid-template-rows: auto;
  text-align: center;
  margin: auto;
  width: 900px;
}

body {
  background-color: #6197fc;
  font-family: Poiret One;
}

.widget {
  
  
  display: flex;
  height: 300px;
  width: 400px;
  
  flex-wrap: wrap;

  border-radius: $border-radius;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.weatherIcon {
  flex: 1 100%;
  height: 60%;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background: rgb(185, 221, 233);
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;

  i {
    padding-top: 30px;
  }
}

.weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #080705;
  border-bottom-left-radius: $border-radius;
  display: flex;
  align-items: center;
  color: white;

  .temperature {
    flex: 0 0 40%;
    width: 100%;
    font-size: 65px;
    display: flex;
    justify-content: space-around;
  }

  .description {
    flex: 0 60%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;

    .weatherCondition {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 100;
    }

    .place {
      font-size: 15px;
    }
  }
}

.date {
  flex: 0 0 30%;
  height: 40%;
  background: #70c1b3;
  border-bottom-right-radius: $border-radius;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
  a {
    text-decoration: none;
    color: #e4d6a7;
    font-size: 10px;
  }
}
.w-icon{
  height: 150px;

}