@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
.naslov {
  text-align: center;
  font-size: 80px;
}

#container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  text-align: center;
  margin: auto;
  width: 900px;
}

body {
  background-color: #6197fc;
  font-family: Poiret One;
}

.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 400px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 20px;
  -webkit-box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.weatherIcon {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #b9dde9;
  font-family: weathericons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 100px;
}

.weatherIcon i {
  padding-top: 30px;
}

.weatherInfo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  height: 40%;
  background: #080705;
  border-bottom-left-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.weatherInfo .temperature {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  width: 100%;
  font-size: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.weatherInfo .description {
  -webkit-box-flex: 0;
      -ms-flex: 0 60%;
          flex: 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 100;
}

.weatherInfo .description .place {
  font-size: 15px;
}

.date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  height: 40%;
  background: #70c1b3;
  border-bottom-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
}

p a {
  text-decoration: none;
  color: #e4d6a7;
  font-size: 10px;
}

.w-icon {
  height: 150px;
}
/*# sourceMappingURL=style.css.map */